.link {
  text-decoration: none;
  color: #2f80ed;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.link:hover {
  opacity: 0.5;
}